@font-face {
    font-family: 'Muller';
    font-display: swap;
    src: url('./fonts/MullerRegular.woff');
    font-weight: 400;

}

@font-face {
    font-family: 'Muller';
    font-display: swap;
    src: url('./fonts/MullerLight.woff');
    font-weight: 300;

}


@font-face {
    font-family: 'Muller';
    font-display: swap;
    src: url('./fonts/MullerExtraBold.woff');
    font-weight: 800;


}

@font-face {
    font-family: 'Miama';
    font-display: swap;
    src: url('./fonts/miamanueva.woff');


}