.swiper {
  width: calc(100% + 20px);
  margin-left: -10px;
  cursor: pointer;
  overflow: hidden;
  &-slide {
    padding: 20px;
    &_imgBox {
      overflow: hidden;
      border-radius: 20px;
    }
    &_img {
      object-fit: cover;
      object-position: center;
      height: auto;
      width: 100%;
    }
    &_title {
      margin-top: 1.5rem;
      font-family: "Muller";
      font-weight: 800;
      font-size: 2.4rem;
      text-align: center;
      color: #3a509e;
      padding-bottom: 1rem;
    }

    &_text {
      font-family: "Muller";
      font-weight: 300;
      font-size: 1.4rem;
      text-align: center;
      color: #3a509e;
      overflow: hidden;
    }
  }
}
