.section-form {
  padding: 8rem 2rem;
  background: #e4f4fa;
  position: relative;

  &__bg {
    position: absolute;
    right: 8%;
    top: 20%;
    width: 40%;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    overflow: hidden;
    max-width: 90%;
    background-color: white;
    border-radius: 20px;
    position: relative;
    padding: 5rem 3.1rem 2.2rem 3.3rem;
  }

  &__title {
    position: relative;
    z-index: 1;

    font-weight: 700;
    font-size: 4.1rem;
    line-height: 4.1rem;
    color: #3c529d;
  }

  &__text {
    position: relative;
    z-index: 1;

    margin-top: 1.7rem;
    font-family: "Muller";
    font-weight: 400;
    font-size: 3.1rem;
    line-height: 3.1rem;
    color: #3c529d;
  }
}

.form {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  @media (max-width: 768px) {
    margin-top: 2rem;
  }

  &__captcha {
    margin-top: 2.1rem;
    max-width: 54rem;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    max-width: 43.4rem;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__input {
    margin-top: 2.1rem;
    padding: 1.6rem 1.5rem 1.6rem 1.1rem;
    background: #fffbfa;
    border: 1px solid #707b97;
    border-radius: 0.4rem;
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 136%;
    color: black;

    &::placeholder {
      color: #757374;
    }
  }

  &__checkboxes {
    margin-top: 2.3rem;
    display: flex;

    gap: 4rem;

    &-item {
      display: flex;
      align-items: center;
      gap: 1.3rem;
    }
    &-city {
      font-weight: 400;
      font-size: 1.8rem;
      color: #1f2e43;
    }
    $input-selector: "#myInput";

    &-check {
      width: 2.4rem;
      height: 2.4rem;

      flex-shrink: 0;
      border: 1px solid #3c529d;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  &__bottom {
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }
  }
  &__button {
    display: flex;
    padding: 1.6rem 2.5rem 1.6rem 4.9rem;
    background: #3a509e;
    border-radius: 2.4rem;
    font-size: 1.7rem;
    color: #ffffff;
    z-index: 1;
    transition: all 0.3s;
    align-items: center;

    & img {
      padding-left: 2.4rem;
    }

    &:hover {
      transform: translateY(-0.5rem) scale(1.1);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      @media (max-width: 768px) {
        transform: none;
      }
    }
    @media (max-width: 768px) {
      justify-content: center;
      width: 100%;
    }
  }

  &__subtext {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #777777;
  }
}
.parsley-required {
  margin-top: 1.2rem;
  color: #fe6508;
  font-size: 1.4rem;
}
.parsley-phone {
  margin-top: 1.2rem;
  color: #fe6508;
  font-size: 1.4rem;
}
