.section__comment {
    box-shadow: 0px 0px 10px 7px rgba(34, 60, 80, 0.2);
    padding: 8rem 0;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #27779441;
        z-index: 0;
        opacity: .8;

    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url(./images/comment-bg.webp) top/cover no-repeat;
        opacity: .3;
        z-index: -1;

    }
}



.comment {
    width: 37.7rem;
    padding: 2rem .4rem;

}

.comment__row-1 {
    position: relative;
    padding: 3.2rem;
    margin-bottom: 4.6rem;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 24px 24px 24px 0px;
}

.comment__row-1::after {
    content: "";
    position: absolute;
    bottom: -3rem;
    left: 0;
    width: 4rem;
    height: 4rem;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: rgba(255, 255, 255, 0.9);
}

.comment__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: #141416;
    margin-bottom: 1.6rem;
}

.comment__rating {
    text-align: center;
    font-size: 34px;
    color: #063DA1;
}

.comment__row-2 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.6rem;
    color: #000000;
}

.comment__row-2 dd {
    font-size: 1.2rem;
    line-height: 1.6rem;
}


.comment__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}